
body {
    margin: 0;
    padding: 0;
    height: 7900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 5 ;
    background-color: rgba(0, 0, 0, .5);
}
.header .logo {
    width: 40%;
    float: left;
    margin-top: 12px;
}
.nav {
    width: 60%;
    float: left;
    text-align: right;
    margin-top: -50px;
    font-size: 20px;
    margin-left: 550px;
}
.clear {
    clear: both;
}
.header .container .header-content .nav > li{
    list-style: none;
    display: inline-block;
}
.header .container .header-content .nav > li > a{
    color: rgb(252, 252, 252);
    padding: 12px;
    display: block;
}
.header .container .header-content .nav > li > a:after ,
.header .container .header-content .nav > li > a.active:after {
content: "";
width: 0;
height: 3px;
display: block;
background-color: blue;
margin-top: 2px;
transition: .5s;
}
.header .container .header-content .nav > li > a.active:after{
    width: 100%;
}
.header .container .header-content .nav > li > a:hover:after{
    width: 100%;
}
.dd{
    position: relative;
}
.a-bp{
    color: white;
    display: block;
    padding: 10px;
}
.bp{
    position: absolute;
    width: 120px;
    padding: 5px;
    background-color: blue;
    text-align: center;
    left: 78%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.dd:hover + .bp{
    visibility: visible;
    opacity: 1;
}
a{
    text-decoration: none;
}
.header{
    height: 70px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.home-contenar{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}
.home-perant {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.home-perant .home-titel{
    font-size: 65px;
    color: white;
    text-transform: uppercase;
}
.home-perant .home-p {
    color: white;
    margin-top: -39px;
    letter-spacing: 2px;
    font-size: 17px;
    opacity: .8;
}
.home-perant .home-but{
    padding: 15px 22px;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    text-transform: capitalize;
    margin-left: 15px;
}
.home-perant .home-but:hover{
    opacity: 0.6;
    cursor: pointer;
}
.home-perant .but2{
background-color: blue;
color: white;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.ltr {
    position: relative;
}
.ltr:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
}
.ltr:hover:after {
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
}
.section-header {
    text-align: center;
}
.section-header .section-title {
    font-size: 43px;
    text-transform: capitalize;
    margin-bottom:9px ;
    margin-top:6px ;
}
.section-header .line {
    display: block;
    width: 62px;
    height: 4px;
    background-color: royalblue;
    margin: 0 auto 70px auto;
}
.pd-y {
    padding: 120px 0;
}
.about-content {
    text-align: center;
    height: 350px;
    overflow: hidden;
}
.about-item {
    width: 27%;
    height: 60%;
    float: left;
    text-align: center;
    border: 2px solid #888;
    padding: 30px 15px;
}
.about-item.mg{
    margin: 0 5%;
}
.icon{
    color: #6195ff;
    margin-bottom: 10px;
}
.about-content h2 {
    font-size: 38px;
    margin-top: 10px;
    text-transform: capitalize;
}
.about-item:hover h2 {
    color: white;
}
.about-content p {
    font-size: 20px;
    margin-top: -8px;
    opacity: .4;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.about-item:hover p{
    color: white;
}
.about-content a {
    font-size: 25px;
    text-transform: capitalize;
    color: #6195ff;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .portfolio {
        background-color: lightgrey;
    }
.portfolio-content{
    overflow: auto;
}
.portfolio-item{
    float: left;
    width: 28%;
    height: 400px;
    text-align: center;
    padding: 5px 5px;
    position: relative;
}
.tt{
    margin: 0px 5%;
}
.portfolio-img{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
}
.portfolio-img img{
    width: 100%;
    height: 100%;
}
.layer-info{
    position: absolute;
    margin-top: -230px;
    margin-left: 80px;
    text-transform: capitalize;
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.6s ease-in-out;
}
.portfolio-item:hover .layer-info{
    visibility: visible;
    transform: translateY(0);
}
.portfolio-item:hover .layer-info a {
background-color: gold;
background-size: 80px 80px;
color: black;
font-size: small;
padding: 10px 10px;
}
.portfolio-item:hover .layer-info span {
    color: gold;
    text-transform: uppercase;
    font-size: 22px;
}
.portfolio-item:hover .layer-info h3 {
    color: white;
    font-size: 25px;
    margin-top: 5px;
}
.portfolio-img:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
}
.portfolio-img:hover:after {
    width: 100%;
    height: 100%;
    transition: .8s;
    opacity: .5;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.offer-content {
    text-align: center;
    height: 650px;
    overflow: hidden;
}
.offer-item {
    width: 27%;
    height: 220px;
    float: left;
    text-align: center;
    border: 2px solid #888;
    padding: 20px 15px;
    margin: 35px 0px;
    text-align: justify;
}
.offer-item.mg{
    margin: 0px 5%;
}
.offer-content h2 {
    font-size: 38px;
    margin-top: 20px;
    text-transform: capitalize;
    display: inline;
}
.offer-item:hover h2 {
    color: white;
}
.offer-content p {
    font-size: 20px;
    margin-top: 38px;
    opacity: .4;
    letter-spacing: 2px;
    margin-left: 45px;
    text-align: justify;
}
.offer-item:hover p{
    color: white;
}
.offer-content .ahaa{
    margin-top: 25px;
}
.offer-item.maro{
    margin-top: 35px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section-header .margg{
    margin-left: -610px;
}
.section-header .merg{
    margin-left: -70px;
}
.service-item-img img{
    width: 500px;
    height: 500px;
}
.service-item{
    float: left;
    margin-left: 110px;
}
.service-contain{
    background-color: lightgrey;
    height: 800px;

}
.service-bullets {
    list-style: none;
    font-size: 12px;
   display: flex;
   margin-top: 10px;
   margin-left: 370px;
   opacity: .7;
}
.service-bullets .aswad{
    padding: 0 10px;
}
.service-bullets .kover:hover{
color: blue;
}
.service-item .service-bullets .active{
    color: blue;
}
.service-item-desc{
    margin-left: -100px;
    opacity: .6;
    font-size: 19px;
    letter-spacing: 2px;
    display: inline;
    text-align: justify;
}
.service-item  .hram{
    margin-left: -100px;
    opacity: .6;
    font-size: 19px;
    letter-spacing: 2px;
    display: inline;
    text-align: justify;
}
.service-list .adell{
    color: blue;
}
.service-list li{
    list-style: none;
    margin-left: -140px;
    opacity: .6;
    font-size: 19px;
    letter-spacing: 2px;
    text-align: justify;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.hh {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
}
.hr1{
    width: 50px;
    font-weight: bold;
    border: 2px blue solid;
    margin-top: -20px;
}
.backk{
    background-color: lightgray ;
}
.div2 {
    width: 95%;
    height: 750px;
    margin-left: 50px;
    position: relative;
}
 .div3 {
    width: 420px;
    height: 500px;
    color: black;
    border: 1px black solid;
    float: left;
    margin-left: 130px;
    margin-top: 75px;
    text-align: center;
    position: relative;
}
 .div4 {
    width: 400px;
    height: 600px;
    color: black;
    border: 2px black solid;
    float: right;
    margin-right: 120px;
    margin-top: 50px;
    text-align: center;
}
 .div5 {
    width: 400px;
    height: 600px;
    color: black;
    border: 2px black solid;
    float: right;
    margin-right: 160px;
    margin-top: 50px;
    text-align: center;
}
.hh2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    /* opacity: .6; */
}
.div2 .div3 .dov1{
    font-size: x-large;
    color: black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px blue solid;
    text-align: center;
    margin: auto;
    background-color: #fff;
    margin-top: -35px;
    font-size: 21px;
}
.div2 .div3 .dov1 .mont{
    margin-top: -30px;
}
.div2 .div3 .dov1 .dov2{
    margin-top: 20px;
}
.div2 .div3 .dov3, .dov4{
    font-size: 20px;
    letter-spacing: 2px;
    opacity: .6;
    margin-top: -25px;
    line-height: 40px;
}
.div2 .div3 button {
    font-size: large;
    color: black;
    border: 2.5px solid rgb(108, 108, 246);
    background-color:white ;
    width: 175px; 
    height: 40px;
    margin-top: -15px;
}
.hussein:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
    transition: 2s;
}
.hussein:hover:after {
    width: 100%;
    height: 100%;
    transition: .8s;
    opacity: .5;
}
.hussein:hover .hh2{
    color: blue;
}
.hussein:hover .dov2{
    color: blue;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
.numbers-items::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.8;
    z-index: -1;
}
.numbers-items{
    overflow: auto;
    height: 300px;
    z-index: 0;
}
.number-item{
    float: left;
    margin-top: 100px;
    margin-left: 220px;
    z-index: 0;
}
.numbers{
    background-image: url(../images/خلفففيه.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.number-item-title{
    font-size: 30px;
    color: white;
    margin-top: 0px;
    margin-left: -8px;
}
.number-item-text{
    color: white;
    margin-left: -35px;
    font-size: 23px;
}
.toxx{
    margin-left: -55px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.testimoial-toplayer .ssih{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline;
}
.testimoial-toplayer h3{
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    display: inline;
    margin-left: 185px;
}
.testimoial-toplayer span{
    color: #6195ff;
    margin-left: 185px;
}
.testimoial-toplayer  .eddit{
    margin-top: -90px;
}
.testimoial-desc {
    margin-top: 50px;
    margin-left: 20px;
    text-transform: capitalize;
    color: white;
    font-size: large;
}
.sihedii{
    float: left;
    margin-top: 55px;
    z-index: 0;
}
.leff{
    margin-left: 260px;
}
.cotaa{
height: 350px;
background-image: url(../images/خلفيههههههههههههههههههه22.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
z-index: -1;
}
.sihedii::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0.6;
    z-index: -1;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.team-container {
    width: 80%;
    margin: auto;
}
.team-parent {
    overflow: auto;
}
.team-item {
    float: left;
    width: 28%;
    background-color: lightgray;
    text-align: center;
    padding: 18px 14px ;
    position: relative;
}
.tttt {
    margin: 0px  5%;
}
.team-img {
    width: 85%;
    margin: auto;
    position: relative;
}
.team-img   img {
     width: 100%;
}
.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) ;
    visibility: hidden;
}
.team-item:hover   .team-overlay  {
    visibility: visible;
}
.team-overlay  a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 183, 255);
    color: #fff;
    margin-left: auto ;
}
.team-overlay  a  i {
    line-height: 40px;
}
.team-info-title {
    color: #222;
    padding: 11px  0px ;
    text-transform: capitalize;
}
.team-info-p {
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-size: 19px;
}
.team-item:hover  .team-info-title {
   color: #fff;
}
.team-item:hover  .team-info-p  {
    color: blue;
}
 .team-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0 ;
    top : 0;
    right: 0;
    background-color: #333;
    opacity: 1; 
    }
 .team-item:hover::after {
     width: 100%;
     height: 100%;
     opacity: 0.4 ;
     transition: 1s ;
 }
.hoklo{
    width: 100%;
    height: 700px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.blog-item-img img{
width: 350px;
height: 350px;
margin-left: 20px;
}
.blog-item{
    float: left;
    width: 30%;
    height: 600px;
    background-color: lightgray;
}
.blog-content{
    overflow: auto;
}
.mgg{
   padding: 0 70px;
}
.fasel{
    background-color: white;
    height: 600px;
    position: relative;
}
.blog-list{
    list-style: none;
    display: flex;
}
.blog-list .tad{
  padding:0 20px;
  color: #6195ff;
  font-size: 20px;
  margin-left: -10px;
}
.blog-info h3{
    text-transform: capitalize;
    font-size: 25px;
    margin-left: 20px;
}
.blog-info p{
    opacity: .6;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-left: 20px;
}
.blog-info a{
    text-transform: capitalize;
    color: #6195ff;
    font-size: 23px;
    margin-left: 20px;
}
.fasel:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #6daaf5;
    opacity: 0;
    transition: 2s;
}
.fasel:hover:after{
    width: 100%;
    height: 100%;
    transition: .8s;
    opacity: .5;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.footer{
    width: 100%;
    height: 350px;
    background-color: #585656;
    text-align: center;
    padding-top: 70px ;
}
.mmg{
    width: 250px;
    height: 150px;
}
.footer-links{
    list-style: none;
    display: flex;
    margin-left: 735px;
    font-size: 50px;
    margin-top: 20px;
    height: 200px;
}
.footer-links i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    background-color: #007bff; 
    border-radius: 50%; 
    color: white; 
    font-size: 24px; 
    text-align: center;
}
.footer p{
    margin-top: -180px;
    text-transform: capitalize;
    /* opacity: .6; */
    color: white;
    font-size: 25px;
}
span {
    color: #ff7790;
    text-transform: capitalize;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
    width: 0.88rem;
   }
  ::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #d4d4d8;
    }
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
   html {scrollbar-color: #9e4673 #3d4a59;} 
   main {
    width: 80%;
    margin-inline: auto;
   }
   /* ////////////////////////////////////////////////////////////////////////////////////////////////// */